*.txt linguist-language=Rust
*.csv linguist-language=Erlang
*.md linguist-language=Go
*.gfx linguist-language=Java
*.gui linguist-language=Haskell
gfx/traits/* linguist-language=Julia
gfx/flags/* linguist-language=Python
gfx/event_pictures/* linguist-language=C
